<div class="container-fluid h-100 gedf-wrapper">
    <div class="row h-100">
        <div class="col-md-2" id="LSidebar">
            <div class="row sidebar-header">
                <a href="/users/userid/{{user._id}}">
                    <div class="col-md-12">
                        <p id="username" class="text-center font-weight-light">{{user.name}}</p>
                        <img id="avt" src={{user.avatar}} class="avatar border border-dark rounded-circle" width="80"
                            height="80" />
                    </div>
                </a> 
            </div>
            <div class="row sidebar-body bg-dark">
                <div class="col-md-12">
                    <ul class="list-goup list-unstyled">
                        <li><a href="/" class="bg-dark list-group-item text-light">News feed</a></li>
                        <li><a href="#" class="bg-dark list-group-item text-light">Management</a></li>
                        <li><a href="/notifications" class="bg-dark list-group-item text-light">Notification</a></li>
                        <li><a href="/users/signout" class="bg-dark list-group-item text-light">Sign out</a></li>
                        <li><a id="userid" class="bg-dark list-group-item text-light d-none">{{user._id}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7 gedf-main pageCenter">
            <form id="postForm">
                <div class="card gedf-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-1 d-flex justify-content-center">
                                <img src={{user.avatar}}
                                    class="rounded-circle" width="40" height="40" />
                            </div>
                            <div class="col-md-11">
                                    <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' name="postcontent" id="postcontent" class="form-control" rows="2"
                                        placeholder="Whats in your mind today?" required></textarea>
                                    <textarea name="videoinput" id="videoinput" class="form-control" rows="1" placeholder="Attach a youtube video to your post"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4 d-flex justify-content-center">
                                <label for="file-upload" class="btn btn-light custom-file-upload">
                                    <a><i class="fa fa-file"></i> Photos</a>
                                </label>
                                <input id="file-upload" type="file" />
                            </div>
                            <div class="col-md-4 d-flex justify-content-center">
                                <button type="button" id="toggleVideoBtn" class="btn btn-light"><i class="fa fa-tag"></i> Videos</button>
                            </div>
                            <div class="col-md-4 d-flex justify-content-center">
                                <button type="button" class="btn btn-light"><i class="fa fa-cog"></i>
                                     Feeling/Activity</button>
                            </div>
                            <button type="button" class="btn btn-dark" id="postBtn">Post</button>
                        </div>
                    </div>
                </div>
            </form>
            <div id="newsfeed">
                <template>
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle avatar" width="45" src="/images/defaultavt.png" alt="">
                                    </div>
                                    <div class="ml-2 pt-3 pl-2">
                                        <a class="profilelink"><div class="h5 m-0 display-name"></div></a>
                                        <div class="text-muted h7 mb-2">
                                            <p class="created-at" title=""><i class="fa fa-clock-o"></i>10 min ago</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown modifyContent">
                                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                            <button type="button" class="editPostBtn dropdown-item btn btn-primary">Edit post</button>
                                            <button type="button" class="deletePostBtn dropdown-item btn btn-primary">Delete post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                        <div class="card-body">
                            
                            <p class="card-text statuscontent">
                                Hello world! aduuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu....
                            </p>
                            <form class="editPostForm">
                                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' name="editcontent"
                                    class="form-control editcontent" rows="2" placeholder="" required></textarea>
                                <button class="btn btn-dark savePostBtn">Save</button>
                            </form>
                            
                            <a class="video-link"></a>
                            
                        </div>
                        <div class="video-container">
                            <iframe class="video" src="https://www.youtube.com/embed/AGepNnFXd3c" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        
                        <img src="" class="postImg" />
                        
                        <div class="card-footer">
                            <div class="pb-2">

                                <button type="button" class="btn btn-outline-primary custombtn showCommentsBtn" name="aslkdnas"><i
                                        class="fa fa-comment"></i> Load comments</button>
                                <button type="button" class="btn btn-outline-primary custombtn hideCommentsBtn" name="aslkdnas"><i
                                        class="fa fa-comment"></i> Hide comments</button>
                            </div>
                            <div class="comment-container">
                                
                            </div>
                                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' name="comment"
                                    class="form-control commentContent" rows="2" placeholder="" required></textarea>
                                <button class="btn btn-dark commentBtn">Comment</button>
                            </div>
                    </div>
                </template>
                <template>
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle avatar" width="45" src="/images/defaultavt.png" alt="">
                                </div>
                                <div class="ml-2 pt-3 pl-2">
                                    <a class="profilelink" href="#">
                                        <div class="h5 m-0 display-name">samldkamslk</div>
                                    </a>
                                    <div class="text-muted h7 mb-2">
                                        <p class="commentcontent" title="">askndiasdkasdmaslkdanslk</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown modifyContent">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                        <button type="button" name="commentid" class="deleteCmtBtn dropdown-item btn btn-primary">Xóa
                                            bình luận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            
                

        </div>
        <div class="col-md-3" id="RSidebar">
            <div class="row h-100">
                <div class="col-md-12 RSidebar-content">
                    <div><h5>Thông báo</h5></div>
                    <div id="notiList" class="pt-2 h-100">
                        <template>
                            <div class="card notiCard">
                                <div class="card-body">
                                    <p class="card-title font-italic"><span class="falcutyname">Khoa đăng</span> - <span class="created-at text-muted">Ngày đăng</span></p>
                                    <h6 class="card-text"><a class="notiTitle" href="#">Tiêu đề</a></h6>
                                    <p class="contentsummary">Tóm tắt nội dung</p>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>