<div class="container-fluid h-100 gedf-wrapper">
        <div class="row navbarmenu">
            <div class="col-md-12">
                <div class="dropdown text-light text-center">
                    <b id="navbar-title">TDT University</b>
                    <div class="button-dropdown justify-content-center" data-bs-toggle="dropdown">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                    <div class="dropdown-menu bg-info">
                        <a href="/" class="bg-info dropdown-item text-light">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            Newsfeed
                        </a>
                        <a href="/createacc" class="bg-info dropdown-item text-light">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            Create account
                        </a>
                        <a href="/faculty" class="bg-info dropdown-item text-light">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            Faculty/Department
                        </a>
                        <a href="/student" class="bg-info dropdown-item text-light">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            Student
                        </a>
                        <a href="/users/signout" class="bg-info dropdown-item text-light">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Sign out
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row h-100">
            <div class="col-sm-0 col-md-2 col-lg-2 col-xl-2" id="LSidebar">
                <div class="row sidebar-header">
                    <a href="/users/userid/{{user._id}}">
                        <div class="col-md-12">
                            <p id="username" class="text-center font-weight-light" style="margin-bottom: 0.5rem;">{{user.name}}</p>
                            <div class="sidebar-header-avt">
                                <img id="avt" src={{user.avatar}} class="avatar-primary border border-dark rounded-circle"/>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row sidebar-body">
                    <div class="col-md-12">
                        <ul class="list-goup list-unstyled">
                            <li><a href="/" class="list-group-item">Newsfeed</a></li>
                            <li><a href="/createacc" class="list-group-item info">Create account</a></li>
                            <li><a href="/faculty" class="list-group-item info">Faculty/Department</a></li>
                            <li><a href="/student" class="list-group-item info">Student</a></li>
                            <li><a href="/users/signout" class="list-group-item info">Sign out</a></li>
                            <li><a id="userid" class="list-group-item text-light d-none">{{user.id}}</a></li>
                            <li><a id="userrole" class="list-group-item text-light d-none">{{user.role}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 gedf-main pageCenter" style="padding: 5%;">
                <div class="viewFaculty-header">
                    <h5>Faculty Account Information</h5>
                </div>
                <div class="viewFaculty-body">
                    <div class="table-reponsive">
                        <table class="viewFaculty-list table table--stripped table-hover table-bordered">
                            <thead class="table-primary" style="position: sticky; top: 0; z-index: 1;">
                                <th scope="col" class="col-4">Name</th>
                                <th scope="col" class="col-3">Username</th>
                                <th scope="col" class="col-1">Password</th>
                                <th scope="col" class="col-4">Categories</th>
                            </thead>
                            <tbody  id="facultyList">
                                <template id="facultyRowTemplate">
                                    <tr class="viewFaculty-list-item">
                                        <td class="faculty-name">Khoa Công nghệ thông tin</td>
                                        <td class="faculty-email">khoacntt@tdtu.edu.vn</td>
                                        <td class="faculty-pwd">123456</td>
                                        <td class="faculty-categories">
                                        </td>
                                    </tr>
                                </template>
                                <template id="categoryTemplate">
                                    <li class="faculty-categories-item">category 1</li>
                                </template>
                            </tbody>
                        </table> 
                    </div>                
                </div>
            </div>
        </div>
    </div>