<div class="container-fluid h-100 gedf-wrapper">
    <div class="row h-100">
        <div class="col-md-2" id="LSidebar">
            <div class="row sidebar-header">
                <a href="/users/userid/{{user._id}}">
                    <div class="col-md-12">
                        <p id="username" class="text-center font-weight-light">{{user.name}}</p>
                        <img id="avt" src={{user.avatar}} class="avatar border border-dark rounded-circle" width="80"
                            height="80" />
                    </div>
                </a>
            </div>
            <div class="row sidebar-body bg-dark">
                <div class="col-md-12">
                    <ul class="list-goup list-unstyled">
                        <li><a href="/" class="bg-dark list-group-item text-light">Newsfeed</a></li>
                        <li><a href="#" class="bg-dark list-group-item text-light">Management</a></li>
                        <li><a href="/notifications" class="bg-dark list-group-item text-light">Notification</a></li>
                        <li><a href="/users/signout" class="bg-dark list-group-item text-light">Sign out</a></li>
                        <li><a id="userid" class="bg-dark list-group-item text-light d-none">{{user._id}}</a></li>
                        <li><a id="userrole" class="bg-dark list-group-item text-light d-none">{{user.role}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 gedf-main pageCenter">
            <div class="col-md-12">
                <h4 class="rnews-header" id="rnews-header">
                    
                </h4>
                <div class="rnews-article">
                    <div class="rnews-article-summary">
                        <u>
                            <i>
                                <a id="categoryName" href="/faculty/lans"></a>
                            </i>
                            &nbsp;|
                            <i> Created at <span id="created-at">03/12/2021</span> </i>
                        </u>
                    </div>
            
                    <div class="rnews-article-content" id="rnew_content">
                        
                    </div>
                </div>
            
            </div>



        </div>
    </div>
</div>