<div class="container-fluid h-100 gedf-wrapper">
    <div class="row h-100">
        <div class="col-md-2" id="LSidebar">
            <div class="row sidebar-header">
                <a href="/users/userid/{{user._id}}">
                    <div class="col-md-12">
                        <p id="username" class="text-center font-weight-light">{{user.name}}</p>
                        <img id="avt" src={{user.avatar}} class="avatar border border-dark rounded-circle" width="80"
                            height="80" />
                    </div>
                </a>
            </div>
            <div class="row sidebar-body bg-dark">
                <div class="col-md-12">
                    <ul class="list-goup list-unstyled">
                        <li><a href="/" class="bg-dark list-group-item text-light">News feed</a></li>
                        <li><a href="/notifications" class="bg-dark list-group-item text-light">Notification</a></li>
                        <li><a href="/settings" class="bg-dark list-group-item text-light">Settings</a></li>
                        <li><a href="/users/signout" class="bg-dark list-group-item text-light">Sign out</a></li>
                        <li><a id="userid" class="bg-dark list-group-item text-light d-none">{{user._id}}</a></li>
                        <li><a id="userrole" class="bg-dark list-group-item text-light d-none">{{user.role}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 gedf-main pageCenter">
            <div class="container">
                <form>            
                    <div class="row">
                        <div class="col-8 offset-2">
                            <h1>Chỉnh sửa thông tin</h1>
                        </div>
                    </div>
                    <div id="studentOnly">
                        <div class="row">
                            <div class="col-8 offset-2">
                                <div class="form-group row">
                                    <label for="nameInput" class="col-md-4 col-form-label">Name:</label>
                                    <input id="nameInput" type="text" class="col-sm-4 form-control" name="nameInput" value="{{user.name}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-2">
                                <div class="form-group row">
                                    <label for="classInput" class="col-md-4 col-form-label">Class:</label>
                                    <input id="classInput" type="text" class="col-sm-4 form-control" name="classInput" value="{{user.class}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-2">
                                <div class="form-group row">
                                    <label for="facultyInput" class="col-md-4 col-form-label">Faculty:</label>
                                    <input id="facultyInput" type="text" class="col-sm-4 form-control" name="facultyInput" value="{{user.faculty}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-2">
                                <div class="form-group row">
                                    <label for="phoneInput" class="col-md-4 col-form-label">Phone number:</label>
                                    <input id="phoneInput" type="text" class="col-sm-4 form-control" name="phoneInput" value="{{user.phone}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-2">
                                <div class="form-group row">
                                    <label for="avatarInput" class="col-md-4 col-form-label">Profile picture:</label>
                                    <input id="avatarInput" type="file" name="avatarInput" class="col-sm-4 form-control-file">
                                    <div class="offset-4" style="font-weight: 400;
                                                            font-size: 13px;color: #bbb;white-space: initial;padding-top: 
                                                            5px;line-height: initial;">jpg, jpeg, png, bmp, gif, svg, webp</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 offset-2">
                            <div class="form-group row">
                                <label for="passwordInput" class="col-md-4 col-form-label">Password:</label>
                                <input id="passwordInput" type="password" class="col-sm-4 form-control" name="password" value={{user.password}} >
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4 justify-content-center">
                        <button class="btn btn-primary" id="saveInfo">Save</button>
                    </div>
                </form>
            </div>



        </div>
    </div>
</div>